n8n/circuit-breaker-workflow.json
{
  "name": "Circuit Breaker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8765/circuit-breaker",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-circuit-breaker",
      "name": "Call Circuit Breaker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-action",
              "leftValue": "={{ $json.state.action }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-action-not-ok",
      "name": "Action != ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-action",
              "name": "log",
              "value": "={{ 'Circuit Breaker action: ' + $json.state.action + ' DD=' + $json.state.dd_pct + '%' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-node",
      "name": "Log action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-ok",
              "name": "log",
              "value": "={{ 'Circuit Breaker OK — DD=' + $json.state.dd_pct + '%' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-ok",
      "name": "Log OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 5 minutes": {
      "main": [
        [
          {
            "node": "Call Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Circuit Breaker": {
      "main": [
        [
          {
            "node": "Action != ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action != ok?": {
      "main": [
        [
          {
            "node": "Log action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["trading", "protection"],
  "triggerCount": 1,
  "updatedAt": "2026-05-24T00:00:00.000Z",
  "versionId": "1"
}
